.addForm {
    margin-left: 2px;
}

.addBtn {
    color: #C1DBB3;
    border-radius: 5px;
    background-color: #008148;
    border: 0;
    box-shadow: 
    3px 3px 5px #446930,
    1px 1px 0 #223716;
    padding: 4px;
    margin-left: 1%;
    border: 1px solid;
}
.addBtn:hover {
    background-color: #005931;
    opacity: 0.9;
    color: #C1DBB3;
    box-shadow: 1px 1px 1px #446930;
    
}

/* On screens that are 425px or less, set the background color to blue */
@media screen and (max-width: 425px) {
    .addForm {
        margin-bottom: 3%;
    }
}