.navbar {
    background-color: #f2e1da;
    opacity: 0.3;
    border-radius: 5px;
    margin-right: 1%;
    box-shadow: 1px 5px 5px #747474;
    padding: 10px;
}

.navbar:hover {
    opacity: 0.8;
}

.header {
    color: #034732;
    font-size: xx-large;
    font-weight: bolder;
    margin: 15px;
}

.homeLink, .newLink {
    /* display: flex; */
    /* justify-content: end; */
    float: right;
    padding-top: 1%;
    margin-right: 25px;
}

/* On screens that are 425px or less, set the background color to blue */
@media screen and (max-width: 425px) {
    .homeLink, .newLink {
        margin: 0;
        margin-left: 5px;
        padding-top: 4%;
    }
}