/* @import url('https://fonts.google.com/css2?family=Indie+Flower?sort=popularity&preview.size=32&preview.layout=row&preview.text=To-Do%20List&preview.text_type=custom'); */

.navbar {
    background-color: #f2e1da;
    opacity: 0.3;
    border-radius: 5px;
    margin-right: 1%;
    box-shadow: 1px 5px 5px #747474;
    padding: 10px;
}

.navbar:hover {
    opacity: 0.8;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Indie Flower', cursive; */
    color: #9A4309;
    font-size: 300%;
    font-weight: bolder;
    margin: 15px;
    
}

.homeLink, 
.newLink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Indie Flower', cursive; */
    font-weight: bold;
    float: right;
    padding-top: 2%;
    margin-right: 25px;
}

/* On screens that are 425px or less, set the background color to blue */
@media screen and (max-width: 425px) {
    .homeLink, 
    .newLink {
        font-weight: bolder;
        margin: 0;
        margin-left: 5px;
        padding-top: 4%;
    }
}