.todoList {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.sortBtn {
    float: right;
    padding: 5px;
    margin-right: 3%;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.sortLayout {
    grid-column: 1;
    grid-row: 1;
}

.todoLayout {
    grid-column: auto;
    grid-row: 2;
}